.question {
  margin-bottom: 10px;
}

.question-left {
  padding: 0px;
  vertical-align: top;
}

.question-right {
  padding: 0px 15px;
  vertical-align: top;
}

.question-footer {
  padding: 0px 15px;
  /*height: 1%;*/
}

.question-footer-tags {
  float: left;
  width: auto;
}

.question-mark-group {
  margin: auto;
  padding-top: 7px;
  margin-left: 15px;
}

.question-avatar {
	/*vertical-align: text-bottom;*/
}

.question-title {
  margin-top: auto;
}

.btn-like[set="1"] {
  background-color: green;
}

.btn-dislike[set="1"] {
  background-color: red;
}






.answer {
  border: solid;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.answer-left {
  /*padding: 0px 15px;*/
  padding: 0px;
  vertical-align: top;
  /*width: 15%;*/
}

.answer-right {
  padding: 0px 15px;
  vertical-align: top;
}

.answer-footer {
  padding: 0px 15px;
  height: 1%;
}

.answer-mark-group {
  margin: auto;
  padding-top: 7px;
}

.answer-avatar {
	/*vertical-align: text-bottom;*/
}
